body {background-color: lightgrey;}

h1 {font-family: Impact;
	color: indigo;
	font-size: 30pt;
}

p {font-family: Rockwell;
	color: brown;
	font-size: 13pt;
}

li {font-family: Arial, sans-serif;
	color: blue;
	font-size: 21pt;
}



